---
layout: default
---

<div class="mainpage">
  <div class="masthead">
    <div class="container">
      <h2 class="masthead-title kilo">Justice is Beautiful</h2>

      <p class="subtitle">OpenCourt is an open data advocacy and visualization project featuring U.S. Supreme Court cases </p>
      <br />

      <a class="btn btn-large btn-border black main-button">See the Visualizations</a>
    </div>
  </div>

  <main class="siteContent container">
    <div class="row gutters">
    {% for post in site.posts %}
      <div class="column-4" id="MAX">
        <h3>{{ post.title }}</h3>
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url | prepend: site.baseurl }}" class="btn bg-small">Learn More »</a>
      </div>
    {% endfor %}
  

  </div>

  <div class="gallery">
    <h3>The Visualizations</h3>
    <div class="description"><p>Below are Gephi generated visualizations of all of the citations between the cases. The color of the case node (circle) is determined by the year of the case, though cases before the 1880s are not correctly colored at this point. The site of the case node is determined by the number of cases that the case links to and how many cases cite it. <p></p>Versions with case names will be available soon.  In the future, a fully interactive graph will be developed.  </p></div>
{% for image in site.data.gallery %}
<h4>{{ image.description }}</h4>
<div class="gallery-image" style="background: url('assets/img/{{image.url}}') no-repeat center center;{% if image.bkgsize != null %} background-size: {{image.bkgsize}};{% endif %}">
  
  <div class="color-toggle"><a class="btn btn-border img-toggle" data-image="{{image.url}}" data-color="#fff">White</a> <a class="btn bg-black img-toggle" data-image="{{image.black}}" data-color="#000">Black</a> {% if image.label != null %}<a class="btn btn-border blue img-toggle" data-image="{{image.label}}" data-color="#fff">With Case Names</a>{% endif %} {% if image.full != null %}<a href='assets/img/{{image.full}}'class="btn btn-border blue">Full Image</a>{% endif %}</div>
</div>
{% endfor %}
  </div>
  
  
  </main>
  </div>
  
